/*
 * Variables
 */
/*
 * Generate Rows
 */
/*
 *
 * .generate-rows(@n, @i: 1) when (@i =< @n) {
 *   .tb-row-@{i} {
 *     top: (@i * @rowHeight);
 *   }
 *   .generate-rows(@n, (@i + 1));
 * }
 * .generate-rows(23); 
 */
/*
 * Generate Cols
 * 8 33 8 -25 18
 */
.tb-col-1 > div {
  margin-left: 5px;
}
.tb-col-2 > div {
  margin-left: 20px;
}
.tb-col-3 > div {
  margin-left: 5px;
}
.tb-col-4 > div {
  margin-left: -15px;
}
.tb-col-5 > div {
  margin-left: 10px;
}
.tb-col-6 > div {
  margin-left: -15px;
}
.tb-col-7 > div {
  margin-left: 5px;
}
.tb-col-8 > div {
  margin-left: 20px;
  margin-right: 5px;
}
.tb-col-1 {
  float: left;
}
.tb-col-2 {
  float: left;
}
.tb-col-3 {
  float: left;
}
.tb-col-4 {
  float: left;
}
.tb-col-5 {
  float: left;
}
.tb-col-6 {
  float: left;
}
.tb-col-7 {
  float: left;
}
.tb-col-8 {
  float: left;
}
.tournament-bracket {
  border: 1px solid black;
  overflow: auto;
  display: block;
  text-align: center;
}
.tournament-bracket .ladder {
  width: totalWidth;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.tournament-bracket .ladder .championship {
  width: 241px;
  height: 92px;
  position: absolute;
  bottom: 18px;
  left: 324px;
  border: 1px solid #555;
}
.tournament-bracket .tb-game,
.tournament-bracket .tb-empty-game {
  position: relative;
  width: 100%;
  display: block;
  clear: both;
  height: 46px;
  width: 103px;
}
.tournament-bracket .tb-empty-score {
  position: relative;
  width: 100%;
  display: block;
  clear: both;
  height: 23px;
  width: 103px;
}
.tournament-bracket .tb-game .tb-score {
  height: 17px;
  width: 103px;
  margin-top: 3px;
  margin-bottom: 3px;
}
/* THEMES */
.tournament-bracket.dark {
  background-image: radial-gradient(#454441, #191919);
}
.tournament-bracket.dark .ladder .tb-score {
  background-image: linear-gradient(to bottom, #f6f7f8 0%, #e4e5e6 50%, #c9c9cb 100%);
  border: 1px solid #E9EAEC;
  border-radius: 6px;
}
.tournament-bracket.dark .ladder .championship {
  background-image: linear-gradient(45deg, #676767 67, #4e4e4e);
}
.tournament-bracket.light {
  background-image: radial-gradient(#f4f4f8, #ced6df);
}
.tournament-bracket.light .ladder .tb-score .seat {
  background-image: linear-gradient(to bottom, #6abce5 0%, #5e94c0 50%, #0b7aad 51%, #004d83 100%);
  border: 1px solid #E9EAEC;
  border-radius-left: 6px;
  display: inline;
  float: left;
}
.tournament-bracket.light .ladder .tb-score .school,
.tournament-bracket.light .ladder .tb-score .score {
  display: inline;
  float: left;
  background-image: linear-gradient(to bottom, #f6f7f8 0%, #e4e5e6 50%, #c9c9cb 100%);
}
.tournament-bracket.light .ladder .championship {
  background-image: linear-gradient(45deg, #5ac6db, #00b3ce);
}
