/*_____________ Mixins _____________*/
/*_____________ End Mixins _____________*/
/*_____________ Helpers _____________*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*_____________ END Helpers _____________*/
/*_____________ Global Styles _____________*/
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.container {
  margin: 0 auto;
}
.bracket_holder {
  /*	margin-top: 50px;*/
  position: relative;
}
.bracket_col {
  float: left;
}
.bracket_team {
  border-radius: 15px;
}
.bracket_team-seat,
.bracket_team-school,
.bracket_team-score {
  cursor: default;
}
.light_logo {
  display: none;
}
/*_____________ END Global Styles _____________*/
/*_____________ Skin Defaults _____________*/
/*_____________ END Skin Defaults _____________*/
.theme_light {
  background: radial-gradient(#f4f4f8, #ced6df);
}
.theme_light.container {
  width: 1040px;
}
.theme_light .bracket_holder {
  background: transparent url(../img/layout/light_bg.png) no-repeat center bottom;
  padding: 20px 10px;
}
.theme_light .bracket_col._game_thirtytwo {
  width: 150px;
  padding-right: 20px;
}
.theme_light .bracket_col._game_thirtytwo._left_side {
  padding-right: 0;
  padding-left: 20px;
}
.theme_light .bracket_col._game_sixteen {
  width: 130px;
  padding-top: 28px;
}
.theme_light .bracket_col._game_sixteen .bracket_game {
  margin-bottom: 118px;
}
.theme_light .bracket_col._game_quarter {
  width: 130px;
  padding-top: 112px;
}
.theme_light .bracket_col._game_quarter .bracket_game {
  margin-bottom: 286px;
}
.theme_light .bracket_col._game_semi {
  width: 130px;
  padding-top: 280px;
  margin-left: -50px;
}
.theme_light .bracket_col._game_semi._left_side {
  margin-left: 40px;
  margin-right: -50px;
}
.theme_light .bracket_col._game_semi .bracket_team._winner:after {
  background: transparent url(../img/layout/light_final_winner.png) no-repeat 0 0;
  right: 23px;
}
.theme_light .bracket_game {
  margin-bottom: 62px;
}
.theme_light .bracket_game:last-child {
  margin-bottom: 0 !important;
}
.theme_light .bracket_team {
  position: relative;
  height: 22px;
  background: #f9f9fa;
  background: -moz-linear-gradient(top, #f9f9fa 0%, #eff0f1 49%, #e2e3e4 49%, #cacacc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9fa), color-stop(49%, #eff0f1), color-stop(49%, #e2e3e4), color-stop(100%, #cacacc));
  background: -webkit-linear-gradient(top, #f9f9fa 0%, #eff0f1 49%, #e2e3e4 49%, #cacacc 100%);
  background: -o-linear-gradient(top, #f9f9fa 0%, #eff0f1 49%, #e2e3e4 49%, #cacacc 100%);
  background: -ms-linear-gradient(top, #f9f9fa 0%, #eff0f1 49%, #e2e3e4 49%, #cacacc 100%);
  background: linear-gradient(to bottom, #f9f9fa 0%, #eff0f1 49%, #e2e3e4 49%, #cacacc 100%);
  margin-bottom: 6px;
}
.theme_light .bracket_team:last-child {
  margin-bottom: 0;
}
.theme_light .bracket_team._winner:after {
  content: "";
  width: 19px;
  height: 18px;
  background: transparent url(../img/layout/light_winner.png) no-repeat 0 0;
  display: block;
  position: absolute;
  top: 2px;
  right: -23px;
  z-index: 5;
}
.theme_light .bracket_team-seat {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 32px;
  text-align: center;
  font-size: 14px;
  border-radius: 15px 0 0 15px;
  height: 22px;
  line-height: 22px;
  color: #ffffff;
  background: #7dc2eb;
  background: -moz-linear-gradient(top, #7dc2eb 0%, #5a92bd 49%, #2c7baa 49%, #095082 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7dc2eb), color-stop(49%, #5a92bd), color-stop(49%, #2c7baa), color-stop(100%, #095082));
  background: -webkit-linear-gradient(top, #7dc2eb 0%, #5a92bd 49%, #2c7baa 49%, #095082 100%);
  background: -o-linear-gradient(top, #7dc2eb 0%, #5a92bd 49%, #2c7baa 49%, #095082 100%);
  background: -ms-linear-gradient(top, #7dc2eb 0%, #5a92bd 49%, #2c7baa 49%, #095082 100%);
  background: linear-gradient(to bottom, #7dc2eb 0%, #5a92bd 49%, #2c7baa 49%, #095082 100%);
}
.theme_light .bracket_team-school {
  margin: 0 20px 0 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 22px;
  height: 22px;
}
.theme_light .bracket_team-score {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  width: 20px;
  height: 22px;
  line-height: 22px;
  color: #0f75bc;
}
.theme_light ._left_side .bracket_team._winner:after {
  left: -23px;
  right: auto;
}
.theme_light ._left_side._game_semi .bracket_team._winner:after {
  left: 23px;
  right: auto;
}
.theme_light ._left_side .bracket_team-seat {
  right: 0;
  left: auto;
  border-radius: 0 15px 15px 0;
  color: #ffffff;
  background: #70a86c;
  background: -moz-linear-gradient(top, #70a86c 0%, #6ca06e 49%, #168742 49%, #046d3b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70a86c), color-stop(49%, #6ca06e), color-stop(49%, #168742), color-stop(100%, #046d3b));
  background: -webkit-linear-gradient(top, #70a86c 0%, #6ca06e 49%, #168742 49%, #046d3b 100%);
  background: -o-linear-gradient(top, #70a86c 0%, #6ca06e 49%, #168742 49%, #046d3b 100%);
  background: -ms-linear-gradient(top, #70a86c 0%, #6ca06e 49%, #168742 49%, #046d3b 100%);
  background: linear-gradient(to bottom, #70a86c 0%, #6ca06e 49%, #168742 49%, #046d3b 100%);
}
.theme_light ._left_side .bracket_team-school {
  text-align: right;
  margin: 0 35px 0 20px;
}
.theme_light ._left_side .bracket_team-score {
  left: 0;
  right: auto;
  text-align: right;
  color: #45ac71;
}
.theme_light .bracket_game:after {
  position: absolute;
  z-index: 5;
  content: "";
  display: block;
}
.theme_light ._game_sixteen .bracket_game:after {
  border: 2px dashed #fff;
  border-left: 0;
  height: 56px;
  width: 70px;
  left: 290px;
}
.theme_light ._game_sixteen .bracket_game:first-child:after {
  top: 71.8px;
}
.theme_light ._game_sixteen .bracket_game:nth-child(2):after {
  top: 185.6px;
}
.theme_light ._game_sixteen .bracket_game:nth-child(3):after {
  top: 407.8px;
}
.theme_light ._game_sixteen .bracket_game:nth-child(4):after {
  top: 524px;
}
.theme_light ._game_sixteen .bracket_game:nth-child(even):after {
  border-top: 0;
}
.theme_light ._game_sixteen .bracket_game:nth-child(odd):after {
  border-bottom: 0;
}
.theme_light ._game_sixteen._left_side .bracket_game:after {
  right: 290px;
  left: auto;
  border: 2px dashed #fff;
  border-right: 0;
}
.theme_light ._game_sixteen._left_side .bracket_game:nth-child(even):after {
  border-top: 0;
}
.theme_light ._game_sixteen._left_side .bracket_game:nth-child(odd):after {
  border-bottom: 0;
}
.theme_light ._game_quarter .bracket_game:after {
  border: 2px dashed #fff;
  border-left: 0;
  height: 140px;
  width: 20px;
  left: 420px;
}
.theme_light ._game_quarter .bracket_game:first-child:after {
  top: 157.6px;
}
.theme_light ._game_quarter .bracket_game:nth-child(2):after {
  top: 353.6px;
}
.theme_light ._game_quarter .bracket_game:nth-child(even):after {
  border-top: 0;
}
.theme_light ._game_quarter .bracket_game:nth-child(odd):after {
  border-bottom: 0;
}
.theme_light ._game_quarter._left_side .bracket_game:after {
  right: 420px;
  left: auto;
  border: 2px dashed #fff;
  border-right: 0;
}
.theme_light ._game_quarter._left_side .bracket_game:nth-child(even):after {
  border-top: 0;
}
.theme_light ._game_quarter._left_side .bracket_game:nth-child(odd):after {
  border-bottom: 0;
}
.theme_light .light_logo {
  width: 253px;
  height: 126px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -126px;
  top: 5px;
  z-index: 5;
}
.theme_light ._game_quarter:after {
  content: "";
  display: block;
  background: transparent url(../img/layout/light_south.png) no-repeat right center;
  top: 50%;
  position: absolute;
  width: 195px;
  height: 88px;
  margin-top: -44px;
  left: 170px;
}
.theme_light ._game_quarter._left_side:after {
  left: auto;
  right: 170px;
  background: transparent url(../img/layout/light_west.png) no-repeat left center;
}
